/* The 'Heading Now' font is from https://www.dafont.com/heading-now.font and is used throughout the project. */

@font-face {
	font-family: 'Heading Now';
	src: url('../assets/HeadingNowTrial-04Regular.ttf');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Heading Now';
	src: url('../assets/HeadingNowTrial-65Medium.ttf');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Heading Now';
	src: url('../assets/HeadingNowTrial-65MediumItalic.ttf');
	font-weight: 650;
	font-style: italic;
}

@font-face {
	font-family: 'Mohave';
	src: url('../assets/Mohave-Medium.ttf');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Mohave';
	src: url('../assets/Mohave-MediumItalic.ttf');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Mohave';
	src: url('../assets/Mohave-Bold.ttf');
	font-weight: 600;
	font-style: bold;
}

@font-face {
	font-family: 'Mohave';
	src: url('../assets/Mohave-BoldItalic.ttf');
	font-weight: 600;
	font-style: italic;
}