:root {
	--image-width: 18.75rem;
	--image-height: 12.5rem;
	--image-margin: 6rem;
	--back-text: #fff;
	--back-text-hover: #ff0000;
	--back-text-style: italic;
}

body {
	background-image: linear-gradient(black, #343434);
	background-size: cover;
}

img {
	width: var(--image-width);
	height: var(--image-height);
	margin: var(--image-margin);
}

img:hover {
	border: 0.25rem solid #fff;
	border-radius: 0.625rem;
}

.image__links {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh; 
}

.back__text {
	font-family: 'Heading Now';
	font-size: 4rem;
	color: var(--back-text);
	text-decoration: none;
}

.back__text:hover {
	color: var(--back-text-hover);
	font-style: var(--back-text-style);
}
