:root {
	--image-width: 18.75rem;
	--image-height: 12.5rem;
	--image-margin: 6.5rem;
}

img {
	width: var(--image-width);
	height: var(--image-height);
	margin: var(--image-margin);
}

.image__links {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh; 
}

