body {
	background-image: linear-gradient(black, #343434);
	background-size: cover;
	margin: 0;
}

img {
	width: var(--image-width);
	height: var(--image-height);
	margin: var(--image-margin);
	border: 0.25rem solid transparent;
	border-radius: 0.625rem;	
}

img:hover {
	border: 0.25rem solid #fff;
	border-radius: 0.625rem;
}

.image__container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	height: 100vh; 
	position: relative;
}




.back__container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: var(--image-height);
	margin: var(--image-margin);
	position: absolute;
	left: auto;
	right: auto;
	margin: 18.75rem auto;
}

.back__text {
	font-family: 'Mohave';
	font-size: 5rem;
	color: var(--back-text);
	text-decoration: none;
	text-align: center;
	width: 100%;
	margin: 0;
}

.back__text:hover {
	color: var(--back-text-hover);
	transform: skew(15deg);
	
}







