body {
	background-image: linear-gradient(black, #343434);
	  background-size: cover;
	  margin: 0;
  }
  
  .image__container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	height: 100vh;
  }
  

  .image__links {
	width: var(--image-width);
	height: var(--image-height);
	margin: var(--image-margin);
	border: 0.25rem solid transparent;
	border-radius: 0.625rem;
	position: relative;
  }
  
  .image__links:hover {
	border: 0.25rem solid #fff;
	border-radius: 0.625rem;
  }
  
  .image__links:hover .link__container {
	opacity: 1;
  }
  
  .image,
  .link__container {
	  width: 100%;
	  height: 100%;
}
  
  .link__container {
	position: absolute;
	background: hsla(204, 8%, 76%, 0.292);
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
}
  
  .image img {
	width: 100%;
	height: 100%;
}

.link__text {
	color: white;
	padding: 0.625rem 1.25rem ;
	background: black;
	border-radius: 0.625rem;
	font-size: 1.5rem;
	text-decoration: none;
}
  
  .back__container {
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  height: var(--image-height);
	  margin: var(--image-margin);
	  position: absolute;
	  left: auto;
	  right: auto;
	  margin: 18.75rem auto;
  }
  
  .back__text {
	  font-family: 'Mohave';
	  font-size: 3rem;
	  color: var(--back-text);
	  text-decoration: none;
	  text-align: center;
	  width: 100%;
	  margin: 0;
	  transition: color 0.2s ease;
  }
  
  .back__text:hover {
	  color: var(--back-text-hover);
	  transform: skew(15deg);
  }







