body {
	background-image: url("../connor-houtman-unsplash.jpg");
	background-color: #cccccc;
	background-size: cover;
	background-repeat: no-repeat;
}

/* Style for the navigation container */

.navigation-container {
	position: fixed; 
    bottom: 0;
    left: 0;
    width: 100%; 
    background-color: #333; 
}

/* Style for the navigation bar itself */
.navigation__text {
    font-family: 'Heading Now';
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-flow: row nowrap;
}

/* Style for the links within the navigation bar */
.navigation__text a {
    text-decoration: none;
    color: white;
    padding: 10px 20px; 
}
@-webkit-keyframes wobble-skew-on-hover {
	16.65% {
	  -webkit-transform: skew(-12deg);
	  transform: skew(-12deg);
	}
	33.3% {
	  -webkit-transform: skew(10deg);
	  transform: skew(10deg);
	}
	49.95% {
	  -webkit-transform: skew(-6deg);
	  transform: skew(-6deg);
	}
	66.6% {
	  -webkit-transform: skew(4deg);
	  transform: skew(4deg);
	}
	83.25% {
	  -webkit-transform: skew(-2deg);
	  transform: skew(-2deg);
	}
	100% {
	  -webkit-transform: skew(0);
	  transform: skew(0);
	}
  }
  @keyframes wobble-skew-on-hover {
	16.65% {
	  -webkit-transform: skew(-12deg);
	  transform: skew(-12deg);
	}
	33.3% {
	  -webkit-transform: skew(10deg);
	  transform: skew(10deg);
	}
	49.95% {
	  -webkit-transform: skew(-6deg);
	  transform: skew(-6deg);
	}
	66.6% {
	  -webkit-transform: skew(4deg);
	  transform: skew(4deg);
	}
	83.25% {
	  -webkit-transform: skew(-2deg);
	  transform: skew(-2deg);
	}
	100% {
	  -webkit-transform: skew(0);
	  transform: skew(0);
	}
  }
  .wobble-skew-on-hover {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .wobble-skew-on-hover:hover, .wobble-skew-on-hover:focus, .wobble-skew-on-hover:active {
	-webkit-animation-name: wobble-skew-on-hover;
	animation-name: wobble-skew-on-hover;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
  }

h1 {
    font-weight: 600;
}

.navigation__text a:hover {
	color: red;
	font-style: italic;
}