
/* Background photo is from unsplash.com by a photographer named Connor Houtman */

body {
	background-image: url("../assets/connor-houtman-unsplash.jpg");
	background-color: #cccccc;
	background-size: cover;
	background-repeat: no-repeat;
}

/* Style for the top navigation container */

.navigation-container--top {
	position: fixed; 
    top: 0;
    left: 0;
    width: 100%; 
    background-color: var(--navigation-background); 
}

/* Style for the bottom navigation container */

.navigation-container--bottom {
	position: fixed; 
    bottom: 0;
    left: 0;
    width: 100%; 
    background-color: var(--navigation-background); 
}

/* Style for the navigation bar itself */
.navigation__text {
    font-family: 'Mohave';
	font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
}

/* Style for the links within the navigation bar */
.navigation__text a {
    text-decoration: none;
    color: var(--navigation-text);
    padding: 0.625rem 1.25rem; 
	transition: color 0.2s ease;
}

/* hover effects for the navigation links */

.navigation__text a:hover {
	transform: skew(25deg);
	color: var(--navigation-text-hover);
	font-style: var(--font-style-hover);
}

/* Centering of main title */
.page__title {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

/* Styling for main title */
.page__text {
	color: #F8C9ED;
	text-shadow: 0.065rem 0.125rem 0.125rem hotpink;
	font-family: 'Mohave';
	font-size: 5rem;	
}


